<section class="roadmap-container" fxLayoutAlign="space-around center" fxLayout.gt-md = "row"  fxLayout.gt-sm = "column" fxLayout.lt-md = "column" #roadmap >
  <app-roadmap-node project-image = "start.jpg" title = "Angular 9 Frontend" routerLink = "/projects/0" textColor = "white"></app-roadmap-node>
  <mat-progress-bar mode="determinate" value = "100"></mat-progress-bar>
  <app-roadmap-node project-image = "server.jpg" title = "Node & Express backend" routerLink = "/projects/1" textColor = "white"></app-roadmap-node>
  <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
  <app-roadmap-node project-image = "upcoming.jpg" title = "Deployment in AWS EC2"></app-roadmap-node>
  <mat-progress-bar mode="buffer" ></mat-progress-bar>
  <app-roadmap-node project-image = "upcoming.jpg"></app-roadmap-node>
  <mat-progress-bar mode="buffer" ></mat-progress-bar>
  <app-roadmap-node project-image = "upcoming.jpg"></app-roadmap-node>
  <mat-progress-bar mode="buffer" ></mat-progress-bar>
  <app-roadmap-node project-image = "upcoming.jpg"></app-roadmap-node>
  <mat-progress-bar mode="buffer" ></mat-progress-bar>
  <app-roadmap-node project-image = "upcoming.jpg"></app-roadmap-node>
</section>
