<app-info-section
titleSize = 'h1'
titleText = 'Unlocalised - Code, design, learn'
paragraphText =
'Exploring the sprawling labyrinth of tech, learning with a self-taught, ground-up approach. Documenting challenges faced, problems solved and anything interesting
about each technology. There can be a daunting number of avenues to take at the start of a career in tech, so I hope by exploring some of the popular technologies
it can act as a starting point to those who are unsure. '
[showInitially] = "true"
backgroundImage = "assets/welcome.jpg"
>
</app-info-section>
<app-info-section
titleSize = 'h1'
titleText = 'About:'
paragraphText = "When fresh out of a Computer Science degree, many students will know what discipline to pursue in and will go on to creating something spectacular.
For myself, as someone who had enjoyed all university topics, the sheer volume of pursuits was incredibly daunting. So, after completing my degree, I took a few months
 to consider where best I felt the first step to be. After much consideration, I felt that the best way forward was to pick a role that would give exposure to the most
  technologies possible, so that I could practically find out where my interests were, and that role was as a Consultant. <break>Fast forward almost 3 years and having
     been a consultant for two and a half of those, I can safely recommend it as a great first step in being able to find out what you are interested in.
     Throughout my 2.5 years at the consultancy, I was exposed to the Atlassian Suite of tools and how to work with and administer them, heavily involved in Test Automation,
      and was introduced to Amazon Web Services (AWS), gaining the AWS Solutions Architect Associate certification in January 2020. These are just the main highlights and
      isn't even including some of the experiences you gain from helping to solve problems colleagues may be having, and some of the internal tasks that need to be tackled.
      Experience scripting with Python, REST API testing with Postman, producing training material, contributing to the website to name but a few of the experiences Consultancy
       has given me. Not to mention the technologies you hear about from conversing with your peers (you can add topics of app development, web development and containerisation
        to that list)."
>
</app-info-section>

<app-info-section
titleSize = 'h1'
titleText = 'The roadmap'
paragraphText = "Given the events of 2020, I thought it best to take some personal time out, and spend some of that time exploring more of these interesting technologies,
this time with a focus on improving my programming abilities. Anything interesting (or particularly tricky) I find about these technologies, I will be documenting,
as long as the normal challenges that are faced when learning a new skill (as sometimes it can be overwhelming to think you should already know how to solve every problem
 2 weeks into it). Some of the topics you might see being explored here include: Cloud Computing, Full Stack Development, App/Desktop Development, Architecture patterns,
 Containerisation and Games Development. <break>Based on these topics, I will be undertaking various projects to explore each area of development, with the first project to
 learn and build a front-end in Angular, which is what you are currently reading this on! Follow my progress on projects with the roadmap below:
  "
  backgroundImage = "assets/roadmap.jpg"
  textColor ="white"></app-info-section>

<app-roadmap></app-roadmap>

